/* AboutUs.module.css */
.container {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
  }
  .containerTheme{
    background-color: black;
  }
  .top{
    background-color: #a5a5ff;
    display: flex;
  }
  .right{
    padding-top: 15vh;
    padding-right: 5vw;
  }
  .left{
    padding-left: 3vw;
    padding-top: 5vh;
  }
  .second{
    padding: 30px 50px;
  }
  .secondTheme{
    color: white;
  }
  .title {
    padding-top: 25vh;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .paragraph {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-right: 5vw;
  }
  
  .subtitle {
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .list {
    list-style-type: none;
    margin-left: 30px;
  }
  
  .list li{
    padding-bottom: 10px;
  }
  
  .contacts {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .contacts div {
    width: 48%;
  }
  
  .contacts h3 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .contacts p {
    font-size: 16px;
    line-height: 1.5;
  }
  .topimg{
    display: none;
  }
  /* Add any additional styles as needed */
  @media screen and (max-width: 768px) {
    .top{
      display: block;
      padding: 0 3px;
      background-color: rgba(0, 0, 255, 0.244);
      padding-bottom: 10px;
    }
    .right{
      display: none;
      width: 90vw;
    }
    .topimg{
      padding-top: 10vh;
      display: none;
    }
    .title{
      padding: 0;
      font-size: 22px;
      border-bottom: 2px solid blue;
      padding-bottom: 5px;
      margin-right: 10px;
      margin-bottom: 15px;
      padding-top: 10vh;

    }
  }