.mainCard{
    padding: 10px;
    margin: 10px;
}
.info{
    padding-top: 10px;
    height: 80px;
}
.title{
    height: 80px;
}
.cardImage{
    height: 220px;
}
.mainCard:hover {
    transform: scale(1.1);
    transition: 0.5s;
    z-index: 999;
    position: absolute;
}